@import "tailwindcss";
@plugin "daisyui";




/* nav-link class starts here */
.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0 5px;
    /* Adds spacing between links */
    font-size: 22px;
}

.nav-link:hover {
    color: #2EACF1;
    /* Light hover effect */
}

.nav-link.active {
    color: white;
    font-weight: medium;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background-color: #2EACF1;
  
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

/* nav-link class ends here */